.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.NavBarBackground {
  background-color: white;
  border-bottom: 2px solid black;
}

.NavButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.popupBox {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 10px;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.popupContainer > * {
  padding: 10px;
}

.submitButton {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* For tablets: */
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .NavButtonsContainer {
    flex-direction: row;
  }
  .submitButton {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .box {
    width: 50%;
  }

  .popupContainer {
    width: 50%;
  }
}
