* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: antiquewhite;
  position: relative;
}

.container {
  max-width: 1236px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

h1 {
  color: black;
}
h2 {
  color: black;
}
h3 {
  color: black;
}
