* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #fef1e9;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 1236px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

h1 {
  color: black;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-size: 3.125rem;
  font-style: italic;
  text-align: center;
  padding-top: 3.5rem;
}
h2 {
  color: black;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: italic;
}
h3 {
  color: black;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: italic;
}

p {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
}
