.Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title img {
  margin-top: 20px;
}

.CandidateCard {
  width: 70%;
  margin: 5rem 1rem 0 1rem;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 10px 12px 0px #000000;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.Candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5rem;
}

.CandidateInfo {
  display: flex;
  flex-direction: column;
}

.removeCandidate {
  background: url("../../img/X.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -10px;
}

.NameAge {
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.Age {
  color: black;
  font-family: ivypresto-display, serif;
  font-weight: 100;
  font-style: italic;
  font-size: 1.5625rem;
  padding-left: 10px;
}

.MailAdressProcess > * {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MailAdressProcess > *::before {
  content: "";
  text-align: center;
  display: inline-block;
  background: url("../../img/star-black.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
  /* For tablets: */
  .CandidateCard {
    width: 35%;
  }
}

@media only screen and (min-width: 1000px) {
  /* For desktop: */
  .CandidateCard {
    width: 25%;
  }
}
